@{

}
<div class="row">
    <div class="col-6">
        <h1>Парсинг товарів з сайтів</h1>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <a class="btn btn-success">Замовити</a>
    </div>
    <div class="col-6">
        Ціна від 1000 грн
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p><strong>Замовити парсинг товарів під ключ</strong></p>
        <p>Парсинг – це синтаксичний аналіз сайтів, який проводить спеціальна програма або скрипт. Зібрана інформація може надаватися в певному виді, за певними правилами, алгоритмами і проводиться на одному з мов програмування. Тільки аналіз і збір інформації відбувається не з книг, а з інтернет-ресурсів.</p>
        <p>Переваги парсинга сайтов</p>
        <ul>
            <li>Швидкість наповнення контенту</li>
            <li>Необмежена кількість товарів</li>
            <li>Конкурентна ціна</li>
        </ul>
    </div>
    <div class="col-6">
        <div class="slider">
            <div><img class="img-fluid" src="~/img/1.jpg"></div>
            <div><img class="img-fluid" src="~/img/2.webp"></div>
            <div><img class="img-fluid" src="~/img/3.webp"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
      <p></p>
      <h3 style="text-align: center;">Парсинг сайту під ключ </h3> 
      <p><strong>Порядок робіт при парсингу сайту</strong></p> 
      <ul> 
          <li>Відправляєте лист на <a href="mailto:oanonim640@gmail.com"> oanonim640@gmail.com</a> 
              з посиланням на ваш сайт, з коментарями або вимогами.</li>
          <li>Вказуєте з яких майданчиків і які категорії потрібні</li> 
          <li>Ми проводимо аналіз</li>
          <li>Розробляємо план необхідних робіт з розцінками парсинга сайту</li
           <li>Утверджуєм план, вносите передоплату</li> 
           <li>Починаємо працювати</li> 
           <li>Підтримка та консультація з 8:00 до 23:00</li> 
       </ul>
    </div>
    <div class="col-6">
        <img class="img-fluid" src="~/img/1.png">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
         <p>ВСЬОГО 7 ПРОСТИХ КРОКВ хочете дізнатися вартість послуги?</p>
         <div>
            <div>
               <h3>Парсинг товарів з сайтів хочете дізнатися вартість?</h3>
            </div>
         </div>
         <div>
            <form>
                 <div class="form-group">
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваше ім'я">
                </div>
                 <div class="form-group">
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваш телеграм">
                </div>
               <button>Безкоштовна консультація</button>
            </form>
         </div>
      </div>

    </div>
</div>