
@{
    string NameCompany = "point";
}
<header class="header" style="display: none;">
    <button class="header__search-icon show-for-medium" id="search-btn">
        <i class="fas fa-search"></i>
        <i class="fas fa-times"></i>
    </button>
</header>
<div class="contact_form_wrapper modal" id="login-form">
    <div class="contact_form">
        <div class="contact_form_block">
            <input type="text" id="modal_form_name" name="your_name" placeholder="Ваше ім'я">
            <span class="contact_form_error">Будь ласка, введіть Ваше ім'я</span>
        </div>
        <div class="contact_form_block">
            <input type="tel" id="modal_form_phone" name="your_phone" placeholder="Ваш telegram">
            <span class="contact_form_error">Будь ласка, введіть Ваш телеграм(телефон чи юзернейм)</span>
        </div>
        <button class="contact_form_submit modal_form_submit" id="modal_form_submit">Замовити</button>
    </div>

</div>
<main class="service__main" itemscope itemtype="http://schema.org/Product">
    <div class="service__top">
        <div class="service__top-trian-1"></div>
        <div class="service__top-trian-2">
            <img src="./icon/trian1.svg" alt="">
        </div>
        <div class="service__top-trian-3 show-for-large">
            <img src="./icon/trian3.svg" alt="">
        </div>
        <div class="service__top-trian-4 show-for-large"></div>
        <div class="grid-container">
            <h1 class="service__title" itemprop="name">Парсинг товарів з сайтів</h1>
            <div class="grid-x grid-padding-x">
                <div class="cell large-6">
                    <div class="service__top-left">
                        <div class="service__top-row" itemprop="offers" itemscope
                             itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="UAH" />
                            <meta itemprop="mpn" content="921528999" />
                            <meta itemprop="sku" content="921528999" />
                            <meta itemprop="priceValidUntil" content="2022.05.29">
                 
                         
                            <a class="button__yellow modal_form_selector"
                               href="#login-form"
                               rel="modal:open">Замовити</a>
                            <div class="service__top-price">
                                Ціна від <span itemprop="price" id="id_price4">
                                    1 000
                                </span> ГРН
                            </div>
                        </div>
                        <div class="service__top-content" itemprop="description">
                            <p><strong> Замовити парсинг товарів під ключ </strong></p>
                            <p style="text-align: justify;">
                                Парсинг &#8211; це синтаксичний аналіз сайтів, який
                                проводить спеціальна програма або скрипт. Зібрана інформація може надаватися в
                                певному виді, за певними правилами, алгоритмами і проводиться на одному з мов
                                програмування. Тільки аналіз і збір інформації відбувається не з книг, а з
                                інтернет-ресурсів.
                            </p>
                            <p><strong> Переваги парсинга сайтов </strong></p>
                            <ul>
                                <li>Швидкість наповнення контенту</li>
                                <li>Необмежена кількість товарів</li>
                                <li>Конкурентна ціна</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cell large-6">
                    <div class="service__top-right text-right">
                        <div class="service__top-slider">
                            <div class="service__slider-item text-center">
                                <div class="service__slider-image">
                                    <img onload="Wpfcll.r(this,true);"
                                         src="./img/blank.gif" data-wpfc-original-src="./img/photo1.webp"
                                         class="attachment-full size-full"
                                         alt="Доопрацювання сайту Спортивного Комітету " loading="lazy"
                                         decoding="async" />
                                </div>
                            </div>
                            <div class="service__slider-item text-center">
                                <div class="service__slider-image">
                                    <img onload="Wpfcll.r(this,true);"
                                         src="img/blank.gif" data-wpfc-original-src="./img/photo2.webp"
                                         class="attachment-full size-full"
                                         alt="Розробка сайту для компанії з доставки питної води до Києва"
                                         loading="lazy" decoding="async" />
                                </div>
                            </div>
                            <div class="service__slider-item text-center">
                                <div class="service__slider-image">
                                    <img onload="Wpfcll.r(this,true);"
                                         src="./img/blank.gif" width="2113" height="1470"
                                         data-wpfc-original-src="./img/photo3.jpg" class="attachment-full size-full"
                                         alt="Доработка корпоративного сайта производителя металлических опор освещения Металогальва"
                                         sizes="(max-width: 2113px) 100vw, 2113px" loading="lazy" decoding="async" />
                                </div>
                            </div>
                        </div><button class="button__next slider-next">НАСТУПНИЙ ПРИКЛАД</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service__steps">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-7">
                    <div class="service__steps-content">
                        <p>
                            <h3 style="text-align: center;">Парсинг сайту під ключ </h3>
                        <p><strong>Порядок робіт при парсингу сайту</strong></p>
                        <ul>
                            <li>
                                Відправляєте повідомлення на телеграм <a href="https://t.me/point_user">
                                    @@point_user
                                </a> з посиланням на ваш сайт, з коментарями або вимогами.
                            </li>
                            <li>Вказуєте з яких майданчиків і які категорії потрібні</li>
                            <li>Ми проводимо аналіз</li>
                            <li>Розробляємо план необхідних робіт з розцінками парсинга сайту</li>
                            <li>Утверджуєм план, вносите передоплату</li>
                            <li>Починаємо працювати</li>
                            <li>Підтримка та консультація з 8:00 до 23:00</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="cell large-5">
                    <div class="service__steps-right">
                        <div class="service__steps-wrap-image jarallax">
                            <div data-bg="url('./img/men.jpg')"
                                 class="service__steps-image jarallax-img bg-cover pre-lazyload"></div>
                        </div>
                        <div class="service__steps-top-triangle"></div>
                        <div class="service__steps-bottom-triangle">
                            <img src="./icon/service__steps-bottom-triangle.svg" alt="">
                        </div><img class="service__steps-top-decor pre-lazyload" src="./img/decor.png"
                                   alt="service-decor" data-lazy-src="./img/decor.png">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section__payment">
        <div class="grid-container">
            <h2 class="payment-small-title">Парсинг товарів з сайтів Умови оплати 2022</h2>
            <div class="grid-x grid-padding-x">
                <div class="cell large-5 xlarge-6">
                    <div class="step_third">
                        <div class="payment__left">
                            <p class="payment-large-title">
                                ВСЬОГО <span class="payment-large-title--yellow">7 ПРОСТИХ КРОКВ</span>
                                хочете дізнатися вартість послуги?
                            </p>
                            <div class="payment-middle-title">
                                <div class="payment-middle-title-text">
                                    <h3>Парсинг товарів з сайтів хочете дізнатися вартість?</h3>
                                </div>
                            </div>
                            <div class="payment-form-container">
                                <div class="contact_form_sectional">
                                    <div class="contact_form_block">
                                        <input type="text" id="sectional_form_name"
                                               name="your_name" placeholder="Ваше ім'я" /> <span class="contact_form_error">Будь ласка, введіть Ваше ім'я</span>
                                    </div>
                                    <div class="contact_form_block">
                                        <input type="tel" id="sectional_form_phone"
                                               name="your_phone" placeholder="Ваш telegram" /> <span class="contact_form_error">Будь ласка, введіть Ваш телеграм(телефон чи юзернейм)</span>
                                    </div>
                                    <button class="contact_form_submit modal_form_submit"
                                            id="sectional_form_submit">
                                        Безкоштовна консультація
                                    </button>
                                </div>
                                <img class="payment-black-triangle" src="./icon/svgPayment/trianglePayment2.svg"
                                     alt="Triangle black">
                                <img class="payment-yellow-triangle" src="./icon/svgPayment/trianglePayment.svg"
                                     alt="triangle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment_right cell large-7 xlarge-6">
                    <div class="payment_right-container">
                        <div class="payment_step-item">
                            <div class="payment_step-number"> 01</div>
                            <div class="payment_step-cotent-wrapper">
                                <div class="payment_step-title"> Складання ТЗ</div>
                                <div class="payment_step-content">
                                    Технічне завдання - це те, з чого починається
                                    якісний функціональний продукт
                                </div>
                            </div>
                        </div>
                        @*                      <div class="payment_step-item">
                            <div class="payment_step-number"> 02</div>
                            <div class="payment_step-cotent-wrapper">
                            <div class="payment_step-title"> Укладання договору</div>
                            <div class="payment_step-content">
                            Укладення договору - це звичай ділового обороту,
                            сторони повинні виконати умови договору
                            </div>
                            </div>
                            </div>*@
                        <div class="payment_step-item">
                            <div class="payment_step-number"> 02</div>
                            <div class="payment_step-cotent-wrapper">
                                <div class="payment_step-title"> Перший платіж передоплата 30%</div>
                                <div class="payment_step-content">
                                    Це платіж, здійснений покупцем-замовником до
                                    надання послуг
                                </div>
                            </div>
                        </div>
                        <div class="payment_step-item">
                            <div class="payment_step-number"> 03</div>
                            <div class="payment_step-cotent-wrapper">
                                <div class="payment_step-title"> Внесення правок согласно ТЗ</div>
                                <div class="payment_step-content"> Внесення правок согласно ТЗ</div>
                            </div>
                        </div>
                        <div class="payment_step-item">
                            <div class="payment_step-number"> 04</div>
                            <div class="payment_step-cotent-wrapper">
                                <div class="payment_step-title"> Тестування правок</div>
                                <div class="payment_step-content"> Тестування правок</div>
                            </div>
                        </div>
                        <div class="payment_step-item">
                            <div class="payment_step-number"> 05</div>
                            <div class="payment_step-cotent-wrapper">
                                <div class="payment_step-title"> Перевірка правок замовником</div>
                                <div class="payment_step-content"> Перевірка правок замовником</div>
                            </div>
                        </div>
                        <div class="payment_step-item">
                            <div class="payment_step-number"> 06</div>
                            <div class="payment_step-cotent-wrapper">
                                <div class="payment_step-title"> Оплата за фактом виконаних робіт 70%</div>
                                <div class="payment_step-content">
                                    Оплата залишку суми за договором про надання
                                    послуг
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="service__bottom">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <div class="service__bottom-content">
                        <h2 style="text-align: center;">Замовити парсинг товарів з сайту під ключ</h2>
                        <p style="text-align: justify;">
                            В епоху активного розвитку інтернет-технологій парсинг
                            сайтів є ефективним способом аналізу синтаксичної інформації, розміщеної на численних
                            інтернет-ресурсах. Неймовірний обсяг даних, який пропонує Всесвітня Мережа, містить
                            величезну кількість всіляких відомостей. Якщо потрібно вибрати певну інформацію, за
                            строго встановленим критеріям, то парсинг є найбільш ефективним способом виконання такої
                            роботи з мінімальними витратами часу і сил.
                        </p>
                        <p style="text-align: justify;">
                            Сьогодні існує кілька основних видів парсинга сайтів.
                            Найбільш поширеним є парсинг товарів з сайту для наповнення <a href="#">інтернет-магазину</a>.
                            Інформація, отримана з інших ресурсів, а точніше назви моделей товару, його основні
                            характеристики, описи, а іноді і актуальна ціна, імпортуються в спеціальний файл, і
                            після цього виконується її експорт в інтернет-магазин. Також популяренпарсінг оголошень.
                            Їм охоче користуються агентства нерухомості, а також люди, що займаються перепродажем
                            автомобілів, обладнання та інших товарів. Крім цього, використовують спеціальні програми
                            і скрипти і для звичайного наповнення сторінок сайту контентом, як текстовим, так і
                            мультимедійним.
                        </p>
                        <p style="text-align: justify;">
                            Окремо варто згадати збір даних, необхідних для продуктивної
                            роботи SEO-фахівців. Так називаемийпарсінг пошукової видачі дозволяє <a href="#">аналізувати посилання</a> з результатів пошуку, отримувати
                            інформацію про відвідуваність тих чи інших ресурсів або дані з серверів статистики
                            популярних пошукових систем. Ця інформація стає відмінною основою для SEO-просування
                            ресурсу.
                        </p>
                        <h3 style="text-align: center;">Навіщо потрібен парсинг сайтів?</h3>
                        <p style="text-align: justify;">
                            Припустимо, ви починаєте власний бізнес в Мережі,
                            відкриваючи свій інтернет-магазин. Зрозуміло, для продуктивного ведення торгівлі або <a href="#">надання послуг</a>, необхідно ретельно вивчити ринок,
                            провести його детальний аналіз і, зрозуміло, наповнити сторінки сайту контентом.
                            Звичайний обхід сторінок, що виконується оператором, не є ефективним способом отримання
                            інформації, так як навіть витративши кілька тижнів, ви не зможете детально ознайомитися
                            з пропозиціями на сайтах конкурентів. У цьому випадку на допомогу приходить парсинг
                            товарів, що виконується з використанням спеціального програмного забезпечення. Які
                            завдання можна вирішити, використовуючи можливості синтаксичного аналізу сайтів?
                        </p>
                        <ul style="text-align: justify;">
                            <li>
                                Обробка великих масивів інформації. Сьогодні успіх інтернет-бізнесу багато в чому
                                залежить від якості і обсягу пропонованої потенційним клієнтам інформації. Парсинг
                                магазинів забезпечує отримання контенту, який неможливо отримати використовуючи
                                працю одного або навіть декількох чоловік.
                            </li>
                            <li>
                                Отримання виключно актуальної інформації. Ні для кого не секрет, що дані в Мережі
                                постійно змінюються, піддаючись змінам і доповненням. З огляду на колосальний обсяг
                                інформації, її відстеження є неймовірно складний і об&#8217;ємний для людини працю.
                                Відстежувати важливі зміни можна не вдаючись до використання численного штату
                                операторів, а використовуючи парсинг товарів для інтернет-магазинів.
                            </li>
                            <li>
                                Точність отриманих даних. Довіряючи збір і аналіз інформації фахівця, навіть самому
                                компетентному, не можна не враховувати людський фактор. Втома, зниження уважності
                                через монотонності моніторингу інтернет-ресурсів, може вплинути на результативність
                                роботи. Програма або спеціальний скрипт для парсинга, не мають таких недоліків і
                                завжди працюють на 100% ефективно.
                            </li>
                        </ul>
                        <h2 style="text-align: center;">
                            Парсер товарів з інтернет магазину на замовлення під ключ
                        </h2>
                        <p style="text-align: justify;">
                            Можна з упевненістю говорити про те, що для
                            інтернет-магазинів на opencartпарсінг товарів є відмінним способом наповнення сторінок з
                            товарами.
                        </p>
                        <p style="text-align: center;"><strong>Парсинг магазинів: порядок виконання</strong></p>
                        <p style="text-align: justify;">Зазвичай парсинг прийнято ділити на три основні фази:</p>
                        <ul style="text-align: justify;">
                            <li>
                                Отримання вихідного контенту. Зазвичай цей процес пов&#8217;язаний з повним
                                завантаженням або навіть скачуванням інтернет-сторінки, для її детального аналізу.
                            </li>
                            <li>
                                Отримання даних з подальшим перетворенням. На цьому етапі програма-парсер витягує з
                                коду web-сторінки необхідну йому інформацію, відокремлюючи її від зайвого в даному
                                випадку програмного коду.
                            </li>
                            <li>
                                Генерація звіту. Програма-парсер призводить отримані в результаті роботи дані до
                                заданого типу. Це може бути текст, список або безпосередній запис в базу даних
                                сайту.
                            </li>
                        </ul>
                        <p style="text-align: justify;">
                            Цей порядок, за рідкісним ісключеніенм є загальним Для всіх
                            видів обробки інформації з Мережі методом парсинга.
                        </p>
                        <h3 style="text-align: center;">Парсинг: робота для справжніх професіоналів</h3>
                        <p style="text-align: justify;">
                            Серед переваг використання програм-парсеров можна згадати
                            швидкодію, недоступне самому досвідченого професіонала, можливість обробки великих
                            масивів інформації, повна автоматизація процесу, яка не потребує стороннього втручання.
                            Чи є нюанси, які необхідно знати власнику сайту, який вирішив використовувати цей
                            ефективний спосіб наповнення ресурсу? В першу чергу потрібно пам&#8217;ятати про те, що
                            одним парсинга <a href="#">
                                просувати
                                сайт
                            </a> не вийде. Найбільшу ефективність ця методика показала в поєднанні з
                            розміщенням на сторінках інтернет-ресурсу унікального <a href="#">SEO-контенту</a>.
                            Зловживаючи копіпастом,
                            невміло використовуючи програму, неправильно сформулювавши її завдання і використавши
                            помилкові настройки, можна досягти зворотного результату і значно знизити рейтинг
                            ресурсу в пошукових ведучих. З огляду на вищесказане, можна впевнено говорити про те, що
                            парсинг &#8211; це відмінний спосіб швидкого розвитку ресурсу будь-якої спрямованості,
                            але лише в тому випадку, якщо він проводиться досвідченими фахівцями. Якщо ви
                            зацікавлені в тому, щоб ваш інтернет-магазин або блог процвітав, звертайтеся в нашу
                            компанію. фахівці <a href="#">веб</a> нададуть кваліфіковану
                            допомогу і зроблять так, щоб ваш інтернет-ресурс якомога швидше отримав гідне наповнення
                            і почав приносити вам прибуток. Ми пропонуємо якісну роботу з швидким результатом і
                            доступні ціни, які приємно вас здивують.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service__bottom"></div>
    <div class="home__faqpage-txt">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <div class="service__faqpage"></div>
                </div>
            </div>
        </div>
    </div>
    <section class="home__faqpage-txt">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x align-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="contact__section">
    <div class="contact__border-triangle show-for-large">
        <img src="./icon/triangleBigDown.svg" alt="triangle">
    </div>
    <div class="contact__border-right show-for-large"></div>
    <div class="contact__border-bottom show-for-large">
        <img src="./icon/triangleDown.svg" alt="triangle">
    </div>
    <div data-bg="./img/bgdown.jpg" class="contact__inner bg-cover pre-lazyload">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4"></div>
                <div class="cell large-8">
                    <div class="contact__right">
                        <div class="contact__title">
                            <div class="contact-title-h3">Зв'яжіться зі мною для консультації</div>
                            <div class="contact_section_form">
                                <div class="contact_section_form_name_block">
                                    <input type="text" id="form_name"
                                           name="your_name" placeholder="Ваше ім'я" /> <span class="contact_form_error">Будь ласка, введіть Ваше ім'я</span>
                                </div>
                                <div class="contact_section_form_name_block">
                                    <input type="tel" id="form_phone"
                                           name="your_phone" placeholder="Ваш telegram" /> <span class="contact_form_error">Будь ласка, введіть Ваш телеграм(телефон чи юзернейм)</span>
                                </div>
                                <button class="contact_section_form_submit" id="form_submit">
                                    Безкоштовна
                                    консультація
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contact_form_background">
    <div class="contact_form_wrapper">
        <div class="contact_form_left">
            <span>Замовити</span>
            <div class="contact_form_image"></div>
        </div>
        <div class="contact_form">
            <div class="contact_form_block">
                <input type="text" id="modal_form_name" name="your_name"
                       placeholder="Ваше ім'я" /> <span class="contact_form_error">Будь ласка, введіть Ваше ім'я</span>
            </div>
            <div class="contact_form_block">
                <input type="tel" id="modal_form_phone" name="your_phone"
                       placeholder="Ваш telegram" /> <span class="contact_form_error">
                    Будь ласка, введіть Ваш
                    телефон
                </span>
            </div><button class="contact_form_submit modal_form_submit"
                          id="modal_form_submit">
                Замовити
            </button>
        </div><button type="button" class="contact_form_close">×</button>
    </div>
</div>