@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    html{
        background-color:azure;
    }
</style>
<div class="entry__content clearfix">
   <p><br></p>
   <h1 style="text-align: center;">ДЯКУЮ ЗА ВАШЕ ПОВІДОМЛЕННЯ!</h1>
   <p><br></p>
   <h2 style="text-align: center;">МИ ЗВ’ЯЖЕМОСЯ З ВАМИ У<br> НАЙБЛИЖЧИЙ ЧАС<br> І УТОЧНИМО УСІ ДЕТАЛІ</h2>
   
</div>